body, button, input, select{
    font-family: Sans-serif;
    font-size: 14pt;
    font-weight: bold;
}
body{
    background: #CCCCFF;
    text-align: center;
}
h1{
    font-size: 32px;
    display: table;
    margin-left: auto;
    margin-right: auto;
}
textarea{
    width: 90%;
    height: 400px;
    font-family: monospace;
    font-weight: bold;
    font-size: 12pt;
}
fieldset{
    display: inline-block;
    border: 5px solid black;
    vertical-align: top;
}