<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../css/quiz.css"/>
</head>
<body>
    <h1>JSP Introduction Quiz</h1>
    <dt>1. What is the main value of Java Server Pages?</dt>
    <dd>
        The Java Server Pages generally called JSP allows to decouple the view from the servlet(controller).
        It allows to use the MVC pattern properly and also allows to use dynamic data within html.
    </dd>
    <dt>2. How are JSP pages related to servlets?</dt>
    <dd>
        JSP pages are servlets. When you run your application, the web container is going to compile
        JSP pages into servlet.
    </dd>
    <dt>3. How are JSP pages related to HTML?</dt>
    <dd>
        JSP pages is done mostly with HTML code. Besides, its main role is to contain HTML and to allow
        the use of dynamic java code.
    </dd>
    <dt>4. Give an example of a JSP scriptlet and show how it will look in the JSP servlet .</dt>
    <dd>
        Ex : <% out.print("Moreno"); %><br/>
        In the JSP servlet it will look like that:<br/>
        PrintWriter out= response.getWriter();<br/>
        out.print("Moreno");
    </dd>
    <dt>5. Give an example of a JSP declaration and show how it will look in the JSP servlet.</dt>
    <dd>
        Ex: <%! int count= 0; %><br/>
        In the servlet it will look almost the same:<br/>
        int count= 0;
    </dd>
    <dt>6. Give an example of a JSP comment and show how it will look in the JSP servlet.</dt>
    <dd>
        Ex: <%--My comment --%><br/>
        In the servlet it will look like that:<br/>
        //My comment<br/>
        or<br/>
        /*My comment*/
    </dd>
    <dt>7. Give an example of a JSP expression and show how it will look in the JSP servlet.</dt>
    <dd>
        We suppose that count is already declared in a scriptlet.<br/>
        Ex: <%= count++ %>
        In the servlet it will look almost the same:<br/>
        int count= 0;
        count++;
    </dd>
    <dt>8. Give an example of a JSP directive and show how it will look in the JSP servlet.</dt>
    <dd>
        Ex: <%@ page import="java.util.Date" %><br/>
        In the servlet it will look like that:<br/>
        import java.util.Date;
    </dd>
    <dt>9. Explain how an EL expression is evaluated.</dt>
    <dd>
        When you have an EL expression like that ${person.age} or ${person[age]},
        if person is a bean, age is a property of person, if person is a map, age is
        a key.
    </dd>
    <dt>10. Explain how servlet attributes are involved in EL expressions.</dt>
    <dd>
        When you have an El expression, the web container checks firstly to see if the attribute is
        available in the page scope, if it is, it picks it, in the opposite it checks
        in the request scope, if it is it picks it in the opposite it checks in the
        session scope, if it is it picks it, in the opposite it checks in the application
        scope, if it is, it picks it, in the opposite it just gives it up.
    </dd>
    <dd></dd>
    <dt>11. Explain how servlets and JSPs use request dispatch to interact.</dt>
    <dd>
        To interact between them we can use the method getRequestDispatcher() of the
        HttpServletRequest that will allow you to forward the request and the response object
        to the servlet.<br/>
        N.B. This forwarding is completely different from the redirect, because the redirect is done
        to the client side whereas the forwarding is done to the server side.
    </dd>

</body>
</html>